[user]
	name = Cameron Brown
	email = me@cbrxyz.com
	signingkey = 275AAD046C495D05
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
	helper = /usr/local/share/gcm-core/git-credential-manager
[core]
    excludesfile = ~/.gitignore
    pager = delta
	editor = nvim
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
	conflictstyle = zdiff3
[diff]
    colorMoved = plain
    algorithm = histogram
    mnemonicPrefix = true
    renames = true
[gpg]
	program = gpg
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://git.overleaf.com"]
    provider = generic
[alias]
    conflicts = !git ls-files --unmerged | cut -f2 | sort -u
    count-conflicts = !grep -c '^=======$'
    count-all-conflicts = !grep -c '^=======$' $(git conflicts)
[push]
    autoSetupRemote = true
[http]
	postBuffer = 10485760
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = immediate
[commit]
	verbose = true
[rebase]
	autoSquash = true
	autoStash = true
    updateRefs = true
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[status]
	submoduleSummary = 1
[log]
	date = local
